*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0%;
    border: 0ch;
}

/* Smart Navbar Styling */
nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    align-items: center;
    flex-wrap: wrap;
    background-color: #AFEEEE;
    transition:  top 500ms ease-in-out;
}

nav.scrollDown{
    top : -100%;
}

nav.scrollTop{
    top : 0;
}

.logo{
    padding: 0 70px 0;
}

.items{
    padding: 0 40px 0 60px;
}

a{
    color: #ff6666;
    padding: 0 50px 0;
    text-decoration: none;
}

h1{
    padding: 100px;
    color: #ff6666;
}
h3{
    padding: 100px;
}
p{
    padding: 200px;
}